<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/">All</a>
    </li>
    <li>
      <a routerLink="/quotes/Star wars">Star Wars</a>
    </li>
    <li>
      <a routerLink="/quotes/Famous people">Famous people</a>
    </li>
    <li>
      <a routerLink="/quotes/Saying">Saying</a>
    </li>
    <li>
      <a routerLink="/quotes/humour">Humour</a>
    </li>
    <li>
      <a routerLink="/quotes/Motivational">Motivational</a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
