<div class="container" style="height:620px">
  <div class="content">
    <p class="opacity">Add new quote</p>

    <form class="white" (ngSubmit)="addQuote($event)">
      <div class="section">
        <label>Category</label>
        <select name="category" [(ngModel)]="category">
          <option value="star-wars">Star Wars</option>
          <option value="famous-people">Famous people</option>
          <option value="saying">Saying</option>
          <option value="humour">Humour</option>
          <option value="motivational">Motivational</option>
        </select>
      </div>
      <div class="section">
        <label>Author</label>
        <input class="input" style="width:100%;" type="text" name="author" [(ngModel)]="author">
      </div>
      <div class="section">
        <label>Quote text</label>
        <textarea class="input" name="text" style="width:100%;" [(ngModel)]="text"></textarea>
      </div>
      <button
        type="submit" class="btn"
        [disabled]="author === '' || text === ''"
      >Send</button>
    </form>

  </div>
</div>

